@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
    background-color: oppacity;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: "Montserrat", sans-serif;
    margin: auto;
    min-height: calc(100vh - 40px);
    /* border: 2px solid red; */
}
/* vh = Viewport Height */
/* calc = calculo --- 843px - 40px = 803px*/

.container {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

#slider {
    width: 100%;
    max-width: 600px;
    height: 25vw;
    max-height: 500px;
    position: relative;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    margin: 5vh;
    
}

#slider img{
    border: dashed 5px #bd0909;
    opacity: 0;
    position: absolute;
    width: 120%;
    height: 120%;
    object-fit: cover;
    margin-top: 10px;
    transition: opacity 1200ms;
    box-shadow: 20px 20px 10px rgba(18, 49, 75, 0.45);	
}

#slider img.selected{
    opacity: 1;
}

.header {
    padding-top: 3px;
    padding-bottom: 20px;
}

.logome {
    width: 100px;
    height: 50px;
    margin-top: 16px;
}

.logomers {
    width: 140px;
    height: 36px;
    margin-top: 22px;
    padding-left: 7px;
}

.bloco {
    display: flex;
    justify-content: center;
    text-align: center;
}

.logo {
    width: 200px;
}

.botao_visua {
    background-color: #3359ec;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin: 0 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.botao_criar {
    background-color: #ff00bf;
    border: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin: 0 8px;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.botao_visua:hover {
    background-color: #2d48c0;
}

.botao_criar:hover {
    background-color: #ad1779;
}

.botao {
    background-color: #bd0909;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin: 0 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

.botao_edt {
    background-color: #3359ec;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin: 0 5px;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
}

.botao_edt:hover {
    background-color: #ffef15;
    color: black
}

.botao:hover {
    background-color: #c73e3e;
}

.bloco.form_input:nth-child(4) {
    margin-top: 15px;
}

.form_input {
    height: 34px;
}

td {
    overflow: hidden;
    max-width: 400px;
    word-wrap: break-word;
    border-collapse: collapse;
}
    
.tag {
    background-color: #3359ec;
    color: #FFFFFF;
    font-weight: bold;
}

.bloco h2 {
    font-size: 20px;
}

.bloco h1 {
    font-size: 18px;
    color: #bd0909;
}