<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bluememers | Criar Memento</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/pages/create.css">
    <!-- <link rel="stylesheet" href="../static/pages/read_single.css"> -->
</head>
<body>
    {% include 'header.html' %}
    {% if id_atribuido %}
    <div class="bloco">
        <p>Meme inserido com sucesso!</br>
            <br>
            A senha deste post é <span class="id_atribuido">{{id_atribuido}}</span>.
        </p>
    </div>

    {% else %}
    <section id="new">
        <div id="card">
            <h4>Novo Meme</h4>
            <form method="POST">
                <div class="label-float">
                    <input type="text" id="modulo" name="modulo" placeholder="Módulo 2 - Banco de Dados" required>
                    <label for="modulo">Módulo</label>
                </div>
                <div class="label-float">
                    <input type="text" id="aula" name="aula" placeholder="Aula 10" required>
                    <label for="aula">Aula</label>
                </div>
                <div class="label-float">
                    <input type="text" id="conteudo" name="conteudo" placeholder="Heroku / Cloud" required>
                    <label for="conteudo">Conteúdo da Aula</label>
                </div>
                <div class="label-float">
                    <input type="text" id="texto" name="texto" placeholder="Professor prorrogou o prazo de entrega do exercício" required>
                    <label for="texto">Texto</label>
                </div>
                <div class="label-float">
                    <input type="text" id="imagem_url1" name="url1" placeholder="https://media.giphy.com/media/1qfb3aFqldWklPQwS3/giphy.gif" required>
                    <label for="url1">URL 1</label>
                </div>
                <div class="label-float">
                    <input type="text" id="imagem_url2" name="url2" placeholder="https://media.giphy.com/media/1qfb3aFqldWklPQwS3/giphy.gif" required>
                    <label for="url2">URL 2</label>
                </div>
                <div class="justify-center">
                    <button type="submit">Enviar</button>
                </div>                
            </form>
        </div>
    </section>    
    {% endif %}
    {% include 'footer.html' %}
</body>
</html>