<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bluememers | Deletar</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/pages/delete.css">
</head>
<body>
    
    {% include 'header.html' %}
        <!-- HMTL de sucesso na remoção dos memes segunda rota) -->
    {% if sucesso %}
        <div class="bloco delete_sucesso">
            <p>Meme removido com sucesso</p>
        </div>
        <div class="bloco">
            <a href="/read" class="botao">Visualizar todos</a>
        </div>
    
    {% elif meme %}  
        <!-- HTML de confirmação da rota -->
        <div class="bloco"> 
            <h2>Deletar Meme</h2>
        </div>
        <div class="bloco">
            <p>Tem certeza que deseja deletar este Meme?<br><br><span class="highlight">{{meme.texto}}</span>
        </div>
        <div class="bloco">
            <a href="/delete/{{meme.id}}/confirmed" class="botao_edt">Quero Deletar</a>
            <a href="/read" class="botao_edt">Cancelar</a>
        </div>

    {% else %}
        <div class="bloco"> 
            <h2>Remover Meme</h2>
        </div>
        <div class="bloco">
            <p>Não temos Meme com este ID</p>
        </div>
        <div class="bloco">
            <a href="/read" class="botao">Voltar para Memes</a>
        </div>

    {% endif %}
    {% include 'footer.html' %}
</body>
</html>