<header class="header">
  <!-- Div com o logo da Blue -->
  <div class="bloco">
    <a href="/"><img src="/static/BlueTransparente.gif" class="logo" alt="Logo homepage Blue"></a>
    <a href="/"><img src="/static/logo_me2_header.png" class="logome" alt="LogoMeHeader"></a>
    <a href="/"><img src="/static/logo_mers_header.png" class="logomers" alt="LogoMersHeader"></a>
    <link rel="shortcut icon" href="/static/me_icon.png">
  </div>

  <!-- Div Nome da nossa aplicação -->
  <div class="bloco">
    <h1>As aventuras de quem é Bluemer registradas em memes</h1>
  </div>

  <!-- Div com os botões de nvegação -->
  <div class="bloco">
    <a href="/create" class="botao_criar">Criar Meme</a>
    <a href="/read" class="botao_visua">Visualizar Todos</a>
  </div>
</header>