<header class="header">
  <link rel="shortcut icon" href="/static/me_icon.png">
  <nav id="logos">
    <a href="/">
      <img id="gif" src="/static/BlueTransparente.gif" alt="Logo homepage Blue">
    </a>
    <a href="/">
      <img id="me" src="/static/logo_me2_header.png" alt="LogoMeHeader">
    </a>
    <a href="/">
      <img id="mers" src="/static/logo_mers_header.png" alt="LogoMersHeader">
    </a>
  </nav>
  <nav id="menus">
    <ul>
      <li>
        <a href="/create">Criar Meme</a>
      </li>
      <li>
        <a href="/read">Visualizar Todos</a>
      </li>
    </ul>
      
      </a>
      
  </nav>
</header>