<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bluememers</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  
  {% include 'header.html' %}
  <div class="container">
    <div id="slider">
      <img class="selected" src="/static/Slide1_Thi.png">
      <img src="/static/Slide2_Gustavo.png">
      <img src="/static/Slide3_Aires.png">
    </div>
  </div>
  <script src="/static/script.js"></script>
</body>
</html>