<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bluememers | Home</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
  <body class="header">
    
    {% include 'header.html' %}

    <!-- Div com os botões de nvegação -->
    
    <div class="container">
      <div id="slider">
        <img class="selected" src="/static/Slide1_Thi.png">
        <img src="/static/Slide2_Gustavo.png">
        <img src="/static/Slide3_Aires.png">
      </div>
    </div>
  </body>
  <script src="/static/script.js"></script>
</html>