<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bluememers | Visualizar todos</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/pages/read_all.css">
  <!-- <link rel="stylesheet" href="/static/read_all.css"> -->
</head>
<body>
  
  {% include 'header.html' %}

  <!-- Incluir a tabela com a lista de todos os filmes -->
  <div class="bloco">
    <h2>Detalhes</h2>
  </div>

  <div class="bloco">
    <table class="tabela">
      <!-- TH = Cabeçalho da nossa Table -->
      <!-- <tr class="tabela_header">
        <td>Quando:</td>
        <td>Eu:</td>
        <td align="left">Timeline</td>
        <td>Nº</td>
      </tr> -->

      <!-- TBODY = Corpo da Tabela (dentro dela que estarão todos os dados mostrados) -->
      <tbody>
        <!-- Para CADA filme dentro da minha lista de filmes que estão vindo do app.py -->
        {% for meme in memes %}
          <tr>
            <td><span class="tag">[ {{meme.id}} ]</span></td>  
            <td align="left" id="texto"><span>{{meme.texto}}</span></td>
            <td align="left">
              <img src="{{meme.url1}}" class="url1">
              <img src="{{meme.url2}}" class="url2">
            </td>
            <td id="detalhes" align="center">{{meme.modulo}}<br>{{meme.aula}}<br>{{meme.conteudo}}</td>
               
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</body>
  <script>
    const url2 = Element.getAttribute("src");
    console.log(url2)
    
    
    
    // if (url2 == "http://127.0.0.1:5000/None"){
    //   document.getElementById("url2").hidden=true; 
    // }
      
    // var texto = document.getElementById("texto");
    // texto.style.color = "blue";
    // texto.style.fontSize = "30px";
    // texto.style.fontFamily = "Candara";

    // var detalhes = document.getElementById("detalhes");
    // detalhes.style.fontSize = "15px"; 
    // detalhes.style.color = "gray";
  </script>
</html>