<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bluememers | Visualizar todos</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/pages/read_all.css">
  <!-- <link rel="stylesheet" href="/static/read_all.css"> -->
</head>
<body>
  
  {% include 'header.html' %}

  <!-- Incluir a tabela com a lista de todos os filmes -->
  <div class="bloco">
    <h2>Detalhes</h2>
  </div>

  <div class="bloco">
    <table class="tabela">
      <!-- TH = Cabeçalho da nossa Table -->
      <!-- <tr class="tabela_header">
        <td>Quando:</td>
        <td>Eu:</td>
        <td align="left">Timeline</td>
        <td>Nº</td>
      </tr> -->

      <!-- TBODY = Corpo da Tabela (dentro dela que estarão todos os dados mostrados) -->
      <tbody>
        <!-- Para CADA filme dentro da minha lista de filmes que estão vindo do app.py -->
        {% for meme in memes %}
          <tr>
            <td><span class="tag">| {{meme.id}} |</span></td>  
            <td align="left" class="texto"><span>{{meme.texto}}</span></td>
            <td align="center">
              <a href="/read/{{meme.id}}"><img src="{{meme.url1}}" class="url1"></a>
         
              {% if meme.url2 %}
                <a href="/read/{{meme.id}}"><img src="{{meme.url2}}" class="url2"></a>
              {% endif %}
            </td>
            <td class="detalhes" align="center">{{meme.modulo}}<br>{{meme.aula}}<br>{{meme.conteudo}}</td>
            <td>
              <a href="/update/{{meme.id}}" class="botao_edt">Editar</a>
              <a href="/delete/{{meme.id}}" class="botao_edt">Deletar</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</body>
  <script>
    const url2 = document.getElementsByClassName("url2");
    console.log(url2)
    if (url2 == "http://127.0.0.1:5000/None"){
      document.getElementById("url2").hidden=true; 
    }
      
    var textos = Array.from(document.querySelectorAll(".texto"));
    console.log(textos)
    for (texto of textos) {
      texto.style.color = "black";
      texto.style.fontSize = "20px";
      texto.style.fontFamily = "Verdana";
    }
    

    var detalhes = Array.from(document.querySelectorAll(".detalhes"));
    console.log(detalhes)
    for (detalhe of detalhes) {
      detalhe.style.fontSize = "15px"; 
      detalhe.style.color = "black";
    }
    
  </script>
</html>