<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bluememers | Detalhes</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/pages/read_single.css" />
  </head>
  <body>
    {% include 'header.html' %}

    <div class="bloco">
      <h2>{{meme.texto}}</h2>
    </div>

    <div class="bloco">
      <a href="/read"><img src="{{meme.url1}}" class="imagem" width="500px"/></a>
      {% if meme.url2 %}
      <a href="/read"><img src="{{meme.url2}}" class="imagem" width="500px"/></a>
      {% endif %}
    </div>
    {% include 'footer.html' %}   
  </body>
</html>
